.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    min-height: 100vh;
}

.admin-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* Permite que los botones se envuelvan en la siguiente línea */
}

.tab-button {
    padding: 0.75rem 1.5rem;
    margin: 0.5rem; /* Ajuste para permitir espacio en filas */
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1 1 calc(50% - 1rem); /* Ocupa 50% del ancho menos el margen, para filas de 2 */
}

.tab-button:hover {
    background-color: #0056b3;
}

.tab-button.active {
    background-color: #0056b3;
}

.admin-content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    padding: 2rem;
}

/* Responsiveness */
@media (max-width: 768px) {
    .tab-button {
        flex: 1 1 calc(50% - 1rem); /* Apilar en filas de 2 en pantallas pequeñas */
    }
}
