body {
  font-family: 'Poppins', sans-serif; /* Corregir typo en `sanas-serif` */
  min-height: 100vh;
  background: url('./img/back.jpg') no-repeat center center;
  background-size: cover;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  max-width: 1140px; /* O el valor que prefieras, para pantallas grandes */
  margin: 0 auto;
}
